<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulir</title>
</head>
<body>
    <form action="/post-form" method="POST">
        <input type="text" name="form_nama" placeholder="Nama"><br>
        <input type="email" name="form_email" placeholder="Email"><br>
        <input type="text" name="form_nomorHandphone" placeholder="Nomor Handphone"><br>
        <input type="text" name="form_nomorTelepon" placeholder="Nomor Telepon"><br>
        <input type="text" name="form_provinsi" placeholder="Provinsi"><br>
        <input type="text" name="form_kotaKabupaten" placeholder="Kota/Kabupaten"><br>
        <input type="text" name="form_provinsiAset" placeholder="Provinsi Aset"><br>
        <input type="text" name="form_kotaKabupatenAset" placeholder="Kota/Kabupaten Aset"><br>
        <input type="text" name="form_tujuanPenilaian" placeholder="Tujuan Penilaian"><br>
        <input type="text" name="form_objekPenilaian" placeholder="Objek Penilaian"><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
