<!DOCTYPE html>
<html lang="id-ID">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Joo Template">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="../public/images/favicons/favicon.ico">

    <link rel="apple-touch-icon" sizes="57x57" href="../public/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/favicons/apple-touch-icon-180x180.png">
    <style>
      #rakernas {
        font-size: xx-large;
        font-weight: 600;
        color: #0063dd;
      }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="../gtag/js?id=UA-162771321-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162771321-3');
    </script>

        <title>Gallery</title>
    <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="Ay43hXwnCegexy07iHX4CRWCD4AaGCzkJDLWOCd2P-lzSEfwKn5djXSAfU_aQLs_cuM3w1tBXbIJWqBvUBFbuw==">

<link href="../public/assets/51348c53/css/bootstrap.css" rel="stylesheet">
<link href="../public/css/vendor.min.css?v=1557446391092" rel="stylesheet">
<link href="../public/css/styles.css" rel="stylesheet">
<link href="../public/css/custom.css?v=1557446391092" rel="stylesheet">
<link href="../public/css-1?family=Poppins:300,400,500,600&amp;v=1557446305971" rel="stylesheet">
<link href="../public/css/mystyle.css" rel="stylesheet"></head>
<body class="active-pageloader corporate logistics header-sticky hide-on-scroll header-menu-with-icons header-transparent header-menu-border-bottom header-topbar topbar-background dark-color footer-widgets footer-background dark-color submenu-show-arrow-right menu-is-capitalized submenu-is-capitalized logo-text-is-capitalized page-index">

<div class="pageloader is-active"></div>
    <div id="site-wrap" class="site">
      <div id="header-top-wrap" class="is-clearfix">
        <div id="header-top" class="site-header-top">
          <div id="header-top-inner" class="site-header-top-inner container">
            <div class="level">
              <div class="level-left">
                <ul class="topbar-info ">
                  <li>
                      <span class="icon">
                        <i class="icon-clock"></i>
                      </span> Mon - Fri : 09:00 - 17:00
                  </li>
                  <li>
                    <a href="../cdn-cgi/l/email-protection.html#1e777078715e7d71736e7f7067307d7173">
                      <span class="icon">
                        <i class="icon-envelope"></i>
                      </span> <span class="__cf_email__" data-cfemail="e8858a989a9da883829898c5858a989a9dc68b8785">[email&#160;protected]</span> </a>
                  </li>
                  <li>
                    <a href="tel:+66396847263">
                      <span class="icon">
                        <i class="icon-phone"></i>
                      </span> +62 21 7918 4336 
                      <!-- <span class="icon">
                        <i class="icon-fax"></i>
                      </span> +62 21 7918 4336  -->
                    </a>
                  </li>
                </ul>
              </div>
              <!-- .level-left -->
              <!-- <div class="level-right">
                <ul class="header-menu-icons social">
                  <li>
                    <a href="#" target="_blank">
                      <span class="icon">
                        <i class="fab fa-facebook-f"></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <span class="icon">
                        <i class="fab fa-twitter"></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <span class="icon">
                        <i class="fab fa-linkedin-in"></i>
                      </span>
                    </a>
                  </li>
                </ul> -->
                <!-- .header-menu-icons -->
                <!-- <ul class="nav-menu-dropdown style-2 global-style on-click">
                  <li>
                    <a href="javascript:void(0);">
                      <span class="icon">
                        <i class="icon-globe"></i>
                      </span>global</a>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">Africa</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">europe</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">America</a>
                      </li>
                    </ul>
                  </li>
                </ul> -->
                <!-- .header-menu-icons -->
                <!-- <ul class="nav-menu-dropdown style-2 on-click">
                  <li>
                    <a href="javascript:void(0);">
                      <span class="flag-icon flag-icon-gb"></span>En</a>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <span class="flag-icon flag-icon-es"></span>Es</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <span class="flag-icon flag-icon-tr"></span>tr</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <span class="flag-icon flag-icon-eg"></span>ع</a>
                      </li>
                    </ul>
                  </li>
                </ul> -->
                <!-- .header-menu-icons -->
              </div>
              <!-- .level-right -->
            </div>
            <!-- .level -->
          </div>
          <!-- #header-top-inner -->
        </div>
        <!-- #header-top -->
      </div>
      <!-- #header-top-wrap -->
      <div id="header-wrap" class="is-clearfix">
        <header id="header" class="site-header">
          <div id="header-inner" class="site-header-inner container">
            <div class="level">
              <div class="level-left">
                <div id="header-logo" class="site-logo ">
                  <div id="logo-inner" class="site-logo-inner">
                    <a href="/">
                      <img alt="MBPRU" src="../images/logo/logo_mbpru.png">
                      
                    </a>
                  </div>
                  <!-- #logo-inner -->
                </div>
                <!-- #header-logo -->
              </div>
              <!-- .level-left -->
              <div class="level-right">
                <div class="nav-wrap">
                  <nav class="main-navigation right">
                  <ul id="sidebarnav"><li class="mega-menu niche-templates active"><a href="/" class="sidebar-link waves-effect waves-dark">Home</a></li>
<li><a href="/profile" class="sidebar-link waves-effect waves-dark">Profile</a></li>
<li><a href="/service" class="sidebar-link waves-effect waves-dark">Product & Service</a></li>
<li><a href="/value" class="sidebar-link waves-effect waves-dark">Corporate Value</a></li>
<li><a href="/portfolio" class="sidebar-link waves-effect waves-dark">Portofolio</a></li>
<li class="selected"><a href="/gallery" class="sidebar-link waves-effect waves-dark">Gallery</a></li>
<li><a href="/contact" class="sidebar-link waves-effect waves-dark">Contact</a></li></ul>                  </nav>
                  <!-- #site-navigation -->
                </div>
                <!-- #nav-wrap -->
                <!-- .header-menu-icons -->
                <!-- <a href="/admin" class="button is-white active">LOGIN</a>
                <div class="modal search-form-overlay">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <form class="widget-form">
                      <div class="field">
                        <div class="control is-expanded">
                          <input class="input" type="text" placeholder="Search...">
                          <button type="submit" class="button">
                            <span class="icon">
                              <i class="icon-magnifier"></i>
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div> -->
                <!-- .modal.search-form-overlay -->
              </div>
              <!-- .level-right -->
            </div>
            <!-- .level -->
          </div>
          <!-- #header-inner -->
        </header>
        <!-- #header -->
      </div>
      <!-- #header-wrap -->
     
      <!-- #header-bottom-wrap -->
      <!-- import content layouts and modules -->
      
<div class="pageloader is-active"></div>
<!-- #header-bottom-wrap -->
<!-- import content layouts and modules -->
<div id="content-main-wrap" class="is-clearfix">
    <div id="content-area" class="site-content-area">

        <div id="content-area-inner" class="site-content-area-inner">
            <!-- works section -->
            <section class="section works-list is-clearfix">
              <h1 id="rakernas" class="text-center mt-4 font-bold font-4xl">RAKERNAS 2024</h1>
                <div class="container">
                    <br>
                    <div class="works isotope masonry image-hover effect-10 mfp-lightbox-gallery">
                        <div class="columns is-variable is-3 is-multiline">
                                                                <div class="column is-4 branding" data-aos="fade-up">
                                        <div class="work-item">
                                            <figure>
                                                
                                                    <a href='../public/images/rakernas/DSC_0176.JPG' class='mfp-lightbox mfp-image' title='8'>
                                                    <img src='../public/images/rakernas/DSC_0176.JPG' alt='gambar' title='8' style='min-width: 375px;'>
                                                    <figcaption>
                                                        <ul class='social'>
                                                        </ul>
                                                    </figcaption>
                                                    </a>
                                                </figure>                                        </div>
                                        <!-- .work-item -->
                                    </div>
                                                                <div class="column is-4 branding" data-aos="fade-up">
                                        <div class="work-item">
                                            <figure>
                                                
                                                    <a href='../public/images/rakernas/DSC_0290.JPG' class='mfp-lightbox mfp-image' title='8'>
                                                    <img src='../public/images/rakernas/DSC_0290.JPG' alt='gambar' title='8' style='min-width: 375px;'>
                                                    <figcaption>
                                                        <ul class='social'>
                                                        </ul>
                                                    </figcaption>
                                                    </a>
                                                </figure>                                        </div>
                                        <!-- .work-item -->
                                    </div>
                                                                <div class="column is-4 branding" data-aos="fade-up">
                                        <div class="work-item">
                                            <figure>
                                                
                                                    <a href='../public/images/rakernas/DSC_0436.JPG' class='mfp-lightbox mfp-image' title='7'>
                                                    <img src='../public/images/rakernas/DSC_0436.JPG' alt='gambar' title='7' style='min-width: 375px;'>
                                                    <figcaption>
                                                        <ul class='social'>
                                                        </ul>
                                                    </figcaption>
                                                    </a>
                                                </figure>                                        </div>
                                        <!-- .work-item -->
                                    </div>
                                    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
                                                                <div class="column is-4 branding" data-aos="fade-up">
                                        <div class="work-item">
                                            <figure>
                                                
                                                    <a href='../public/images/rakernas/DSC_0451.JPG' class='mfp-lightbox mfp-image' title='6'>
                                                    <img src='../public/images/rakernas/DSC_0451.JPG' alt='gambar' title='6' style='min-width: 375px;'>
                                                    <figcaption>
                                                        <ul class='social'>
                                                        </ul>
                                                    </figcaption>
                                                    </a>
                                                </figure>                                        </div>
                                        <!-- .work-item -->
                                    </div>
                                                                <div class="column is-4 branding" data-aos="fade-up">
                                        <div class="work-item">
                                            <figure>
                                                
                                                    <a href='../public/images/rakernas/DSC_0492.JPG' class='mfp-lightbox mfp-image' title='5'>
                                                    <img src='../public/images/rakernas/DSC_0492.JPG' alt='gambar' title='5' style='min-width: 375px;'>
                                                    <figcaption>
                                                        <ul class='social'>
                                                        </ul>
                                                    </figcaption>
                                                    </a>
                                                </figure>                                        </div>
                                        <!-- .work-item -->
                                    </div>
                                                                <div class="column is-4 branding" data-aos="fade-up">
                                        <div class="work-item">
                                            <figure>
                                                
                                                    <a href='../public/images/rakernas/DSC_0524.JPG' class='mfp-lightbox mfp-image' title='4'>
                                                    <img src='../public/images/rakernas/DSC_0524.JPG' alt='gambar' title='4' style='min-width: 375px;'>
                                                    <figcaption>
                                                        <ul class='social'>
                                                        </ul>
                                                    </figcaption>
                                                    </a>
                                                </figure>                                        </div>
                                        <!-- .work-item -->
                                    </div>
                                                                <div class="column is-4 branding" data-aos="fade-up">
                                        <div class="work-item">
                                            <figure>
                                                
                                                    <a href='../public/images/rakernas/DSC_0525.JPG' class='mfp-lightbox mfp-image' title='3'>
                                                    <img src='../public/images/rakernas/DSC_0525.JPG' alt='gambar' title='3' style='min-width: 375px;'>
                                                    <figcaption>
                                                        <ul class='social'>
                                                        </ul>
                                                    </figcaption>
                                                    </a>
                                                </figure>                                        </div>
                                        <!-- .work-item -->
                                    </div>
                                                                <div class="column is-4 branding" data-aos="fade-up">
                                        <div class="work-item">
                                            <figure>
                                                
                                                    <a href='../public/images/rakernas/DSC_0969.JPG' class='mfp-lightbox mfp-image' title='2'>
                                                    <img src='../public/images/rakernas/DSC_0969.JPG' alt='gambar' title='2' style='min-width: 375px;'>
                                                    <figcaption>
                                                        <ul class='social'>
                                                        </ul>
                                                    </figcaption>
                                                    </a>
                                                </figure>                                        </div>
                                        <!-- .work-item -->
                                      </div>
                                      <div class="column is-4 branding" data-aos="fade-up">
              <div class="work-item">
                  <figure>
                      
                          <a href='../public/images/rakernas/DSC_0840.JPG' class='mfp-lightbox mfp-image' title='2'>
                          <img src='../public/images/rakernas/DSC_0840.JPG' alt='gambar' title='2' style='min-width: 375px;'>
                          <figcaption>
                              <ul class='social'>
                              <li>
                                  <span class='icon'>
                                  <i class='icon-magnifier'></i>
                                  </span>
                              </li>
                              </ul>
                          </figcaption>
                          </a>
                      </figure>                                        </div>
                                    </div>
                                                    </div>
                        <!-- .columns -->
                    </div>
                    <!-- .works -->
                    <br>
                </div>
            </section>
        </div>
        <!-- #content-area-inner -->
    </div>
    <!-- #content-area -->
</div>      <!-- #content-main-wrap -->
      <div id="footer-top-wrap" class="is-clearfix">
        <div id="footer-top" class="site-footer-top">
          <div id="footer-top-inner" class="site-footer-top-inner ">
            <section class="hero clients-section is-clearfix">
              <div class="container">
                <div class="columns is-variable is-4 is-multiline">
                  <div class="column is-2-desktop is-12-tablet">
                    <h1 class="heading-title style-3 has-text-left">our partners</h1>
                  </div>
                  <div class="column is-10-desktop is-12-tablet">
                    <nav class="clients-list level  owl-carousel no-dots carousel-items-5">
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/7.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/8.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/9.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/7.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/8.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/9.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/7.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/8.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/9.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/7.png"> </a>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- #footer-top-inner -->
        </div>
        <!-- #footer-top -->
      </div>
      <!-- #footer-top-wrap -->
      <div id="footer-wrap" class="is-clearfix">
        <!-- #footer -->
      </div>
      <!-- #footer-wrap -->
      <div id="footer-bottom-wrap" class="is-clearfix">
        <div id="footer-bottom" class="site-footer-bottom">
          <div id="footer-bottom-inner" class="site-footer-bottom-inner ">
            <section class="section footer-bottom-content">
              <div class="container">
                <h2 class="display-none">footer</h2>
                <div class="level">
                  <div class="level-left">
                    <span class="footer-copyright">
                      <a href='../index.htm'></a> © 
                      <span class='current-year'></span> MBPRU. All Rights Reserved. </span>
                  </div>
                  <!-- .level-left -->
                  <div class="level-right">
                    <div class="nav-wrap">
                      <nav class="main-navigation right">
                        <ul class="menu">
                          <li>
                          <a href="../profile/index.html">profile</a>                          </li>
                          <li>
                          <a href="../service/index.html">services</a>                          </li>
                          <li>
                          <a href="../profile/index.html">product & service</a>                          </li>
                          <li>
                          <a href="../value/index.html">corporate value</a>                          </li>
                          <li>
                          <a href="../experience/index.html">portfolio</a>                          </li>
                            <li>
                          <a href="../contact/index.html">contact</a>                          </li>
                        </ul>
                      </nav>
                      <!-- #site-navigation -->
                    </div>
                    <!-- #nav-wrap -->
                  </div>
                  <!-- .level-right -->
                </div>
                <!-- .level -->
              </div>
            </section>
            <!-- .footer-bottom-content -->
          </div>
          <!-- #footer-bottom-inner -->
        </div>
        <!-- #footer-bottom -->
      </div>
      <!-- #footer-bottom-wrap -->
      <!-- show floating buttons -->
     
    <!-- #site-wrap -->

<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/vendor.min.js?v=1557446391092"></script>
<script src="../public/js/load_ajax_change.js"></script>
<script src="../public/assets/5f89d4ad/yii.js"></script>
<script src="../public/js/scripts.min.js?v=1557446391092"></script>
<script src="../public/js/custom.js?v=1557446391092"></script>
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
<script src="../public/js/myscript.js"></script></body>
</html>
