<!DOCTYPE html>
<html lang="id-ID">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Joo Template">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="../public/images/favicons/favicon.ico">

    <link rel="apple-touch-icon" sizes="57x57" href="../public/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/favicons/apple-touch-icon-180x180.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="gtag/js?id=UA-162771321-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162771321-3');
    </script>

        <title>mbprutrusted-Bandung</title>
    <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="WtWLkpaniR0tGdSnnQJf1HlmAOt9nxyF-U-qfRxaOksqs_vnwP7deEdehNPPNxziHgc4qDzGbdPUJ9wqaz1eGQ==">

<link href="../public/assets/51348c53/css/bootstrap.css" rel="stylesheet">
<link href="../public/css/vendor.min.css" rel="stylesheet">
<link href="../public/css/styles.css" rel="stylesheet">
<link href="../public/assets/f883dbe8/css/select2.min.css" rel="stylesheet">
<link href="../public/css/custom.css" rel="stylesheet">
<link href="../public/css-1?family=Poppins:300,400,500,600&amp;v=1557446305971" rel="stylesheet">
<link href="../public/css/mystyle.css" rel="stylesheet"></head>
<body class="active-pageloader corporate logistics header-sticky hide-on-scroll header-menu-with-icons header-transparent header-menu-border-bottom header-topbar topbar-background dark-color footer-widgets footer-background dark-color submenu-show-arrow-right menu-is-capitalized submenu-is-capitalized logo-text-is-capitalized page-index">

<div class="pageloader is-active"></div>
    <div id="site-wrap" class="site">
      <div id="header-top-wrap" class="is-clearfix">
        <div id="header-top" class="site-header-top">
          <div id="header-top-inner" class="site-header-top-inner container">
            <div class="level">
              <div class="level-left">
                <ul class="topbar-info ">
                  <li>
                      <span>
                        <i class="icon-clock"></i>
                      </span> Mon - Fri : 09:00 - 17:00
                  </li>
                  <li>
                    <a>mbpru.bdg@gmail.com</a>
                  </li>
                  <li>
                    <a href="tel:+622242825168">
                      <span class="icon">
                        <i class="icon-phone"></i>
                      </span> +62 22 4282 5168 
                      <!-- <span class="icon">
                        <i class="icon-fax"></i>
                      </span> +62 22 4282 5168   -->
                    </a>
                  </li>
                </ul>
              </div>
              <!-- .level-right -->
            </div>
            <!-- .level -->
          </div>
          <!-- #header-top-inner -->
        </div>
        <!-- #header-top -->
      </div>
      <!-- #header-top-wrap -->
      <div id="header-wrap" class="is-clearfix">
        <header id="header" class="site-header">
          <div id="header-inner" class="site-header-inner container">
            <div class="level">
              <div class="level-left">
                <div id="header-logo" class="site-logo ">
                  <div id="logo-inner" class="site-logo-inner">
                    <a href="/">
                      <img alt="MBPRU" src="images/logo/logo_mbpru.png">
                      
                    </a>
                  </div>
                  <!-- #logo-inner -->
                </div>
                <!-- #header-logo -->
              </div>
              <!-- .level-left -->
              <div class="level-right">
                <div class="nav-wrap">
                  <nav class="main-navigation right">
                  <ul id="sidebarnav"><li class="mega-menu niche-templates active"><a href="/" class="sidebar-link waves-effect waves-dark">Home</a></li>
<li><a href="/profile" class="sidebar-link waves-effect waves-dark">Profile</a></li>
<li><a href="/service" class="sidebar-link waves-effect waves-dark">Product & Service</a></li>
<li><a href="/value" class="sidebar-link waves-effect waves-dark">Corporate Value</a></li>
<li><a href="/portfolio" class="sidebar-link waves-effect waves-dark">Portofolio</a></li>
<li><a href="/gallery" class="sidebar-link waves-effect waves-dark">Gallery</a></li>
<li><a href="/contact" class="sidebar-link waves-effect waves-dark">Contact</a></li></ul>                  </nav>
                  <!-- #site-navigation -->
                </div>
                <!-- #nav-wrap -->
                <!-- .header-menu-icons -->
                <!-- <a href="/admin" class="button is-white active">LOGIN</a>
                <div class="modal search-form-overlay">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <form class="widget-form">
                      <div class="field">
                        <div class="control is-expanded">
                          <input class="input" type="text" placeholder="Search...">
                          <button type="submit" class="button">
                            <span class="icon">
                              <i class="icon-magnifier"></i>
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div> -->
                <!-- .modal.search-form-overlay -->
              </div>
              <!-- .level-right -->
            </div>
            <!-- .level -->
          </div>
          <!-- #header-inner -->
        </header>
        <!-- #header -->
      </div>
      <!-- #header-wrap -->
     
      <!-- #header-bottom-wrap -->
      <!-- import content layouts and modules -->
       <div id="header-bottom-wrap" class="is-clearfix">
        <div id="header-bottom" class="site-header-bottom">
          <div id="header-bottom-inner" class="site-header-bottom-inner">
            <section class="hero slider is-clearfix ">
              <h2 class="display-none">slider</h2>
              <div class="rev_slider_wrapper fullscreen-container ">
                <div id="rev_slider_1" class="rev_slider tp-overflow-hidden fullscreenbanner" data-version="5.4.7" style="display:none">
                  <a href="#welcome" class="slider-scroll-down">scroll down</a>
                  <ul>
                    <li data-transition="fade" data-thumb="../public/images/icons/1.png" data-title="KJPP MBPRU" data-param1="Cabang Kota Bandung, Klik ->" data-param2="../public/images/icons/1.png">
                      <img alt="Joo - Niche Multi-Purpose HTML Template" class="rev-slidebg" src="../public/images/slider/1.JPEG" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="115" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15">
                      <div class="tp-caption tp-resizeme small_text top" data-x="left" data-hoffset="['-105','-105','0','0']" data-y="center" data-voffset="['-152','-152','-152','-152']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive-offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1600,"to":"o:1;","delay":800,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"> Kantor Jasa Penilai Publik MBPRU </div>
                      <div class="tp-caption tp-resizeme large_text" data-x="left" data-hoffset="['-105','-105','0','0']" data-y="center" data-voffset="['-56','-56','-56','-56']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive-offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1600,"to":"o:1;","delay":1200,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"> Konsultasi Manajemen <br> Properti and Asset </div>
                      <a class="tp-caption tp-resizeme button is-primary" href="" data-frames='[{"delay":1600,"speed":2000,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":800,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]' data-x="left" data-hoffset="['-102','-102','0','0']" data-y="center" data-voffset="['82','82','0','0']" data-type="button">
                        <span>Klik salah satu menu dibawah untuk slide</span>
                      </a>
                    </li>
                    <!-- slide -->
                    <li data-transition="fade" data-thumb="../public/images/icons/2.png" data-title="Penilaian" data-param1="Lorem ipsum dolor sit ultrices eleifend gravi." data-param2="/images/icons/2.png">
                      <img alt="Joo - Niche Multi-Purpose HTML Template" class="rev-slidebg" src="../public/images/slider/3.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="115" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15">
                      <div class="tp-caption tp-resizeme small_text top" data-x="left" data-hoffset="['-105','-105','0','0']" data-y="center" data-voffset="['-152','-152','-152','-152']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive-offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1600,"to":"o:1;","delay":800,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"> Kantor Jasa Penilai Publik MBPRU </div>
                      <div class="tp-caption tp-resizeme large_text" data-x="left" data-hoffset="['-105','-105','0','0']" data-y="center" data-voffset="['-56','-56','-56','-56']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive-offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1600,"to":"o:1;","delay":1200,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"> Penilaian<br> Pabrik dan Mesin </div>
                    </li>
                    <!-- slide -->
                    <li data-transition="fade" data-thumb="../public/images/icons/3.png" data-title="Agrikultur" data-param1="Lorem ipsum dolor sit ultrices eleifend gravi." data-param2="/images/icons/3.png">
                      <img alt="Joo - Niche Multi-Purpose HTML Template" class="rev-slidebg" src="../public/images/slider/2.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="115" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15">
                      <div class="tp-caption tp-resizeme small_text top" data-x="left" data-hoffset="['-105','-105','0','0']" data-y="center" data-voffset="['-152','-152','-152','-152']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive-offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1600,"to":"o:1;","delay":800,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"> Kantor Jasa Penilai Publik MBPRU</div>
                      <div class="tp-caption tp-resizeme large_text" data-x="left" data-hoffset="['-105','-105','0','0']" data-y="center" data-voffset="['-56','-56','-56','-56']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive-offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1600,"to":"o:1;","delay":1200,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"> Penilaian Agrikultur <br> </div>
                    </li>
                    <!-- slide -->
                    <li data-transition="fade" data-thumb="../public/images/icons/4.png" data-title="Valuasi" data-param1="Lorem ipsum dolor sit ultrices eleifend gravi." data-param2="/images/icons/4.png">
                      <img alt="Joo - Niche Multi-Purpose HTML Template" class="rev-slidebg" src="../public/images/slider/1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-kenburns="off" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="100" data-scaleend="115" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="15">
                      <div class="tp-caption tp-resizeme small_text top" data-x="left" data-hoffset="['-105','-105','0','0']" data-y="center" data-voffset="['-152','-152','-152','-152']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive-offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1600,"to":"o:1;","delay":800,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"> Kantor Jasa Penilai Publik MBPRU </div>
                      <div class="tp-caption tp-resizeme large_text" data-x="left" data-hoffset="['-105','-105','0','0']" data-y="center" data-voffset="['-56','-56','-56','-56']" data-width="none" data-height="none" data-whitespace="nowrap" data-type="text" data-responsive-offset="on" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1600,"to":"o:1;","delay":1200,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"opacity:0;","ease":"nothing"}]' data-textalign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"> Penilaian Biologis
                        <br>  </div>
                    </li>
                    <!-- slide -->
                  </ul>
                </div>
                <!-- .rev_slider -->
              </div>
              <!-- .rev_slider_wrapper -->
            </section>
            <!-- .slider -->
          </div>
          <!-- #header-bottom-inner -->
        </div>
        <!-- #header-bottom -->
      </div>
<div id="content-main-wrap" class="is-clearfix">
        <div id="content-area" class="site-content-area">
          <div id="content-area-inner" class="site-content-area-inner">
            <!-- import content layouts and modules -->
            <!-- start adding page content -->
            <section id="welcome" class="section welcome-section has-background-primary-light is-clearfix">
              <div class="container">
                <p class="heading-title-top has-text-centered">Selamat datang di</p>
                <h1 class="heading-title style-3"> MBPRU & Rekan <br>Muttaqin Bambang Purwanto Rozak Uswatun & Rekan <br>
                  
                  <span class="has-text-primary">Cabang Bandung</span>
                </h1>
                  <p>MBPRU & Rekan adalah penilai publik dan konsultan properti terkemuka di Indonesia. Kami memiliki 15 kantor di seluruh Indonesia, termasuk kantor pusat di Jakarta. Kami menyediakan jasa valuasi dan konsultasi properti secara komprehensif, didukung oleh tenaga ahli yang profesional dan kompeten di bidang keahliannya. Kami berkomitmen untuk berkontribusi membangun perekonomian nasional yang kokoh dengan prinsip kami: “profesional, hati-hati, dan amanah</p><br>
                  <div class="content column is-12">
                  <h2>Visi</h2>
                  <p>"Become Profesional, Prudent and trustworthy publik valuer and property consultats"</p>
                  <h2>Misi</h2>
                  <p><ul>
                      <li>Memberikan layanan penilaian dan konsultasi properti yang memberikan manfaat berkelanjutan bagi mitra, karyawan, dan klien.</li>
                      <li>Menjadi wadah karir bagi penilai dan konsultan properti untuk mengembangkan profesionalisme dan kesejahteraan.</li>
                      <li>Mengembangkan penilai dan konsultan properti yang profesional dan berstandar etika dan internasional dalam mendukung pembangunan nasional yang berkelanjutan.</li>
                      </ul>
                      
                  </div>
                <br>
                <br>
                <div class="blog-list style-2 columns is-variable is-4 is-multiline">
                  <div class="column is-4" data-aos="fade">
                    <article class="blog-post">
                      <figure class="post-image">
                        <a>
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/blog/1.png"> </a>
                      </figure>
                      <div class="entry-header">
                        <h2 class="entry-title">
                          <a>Staff profesional kami</a>
                        </h2>
                      </div>
                      <!-- .entry-header -->
                      <div class="entry-content">
                        <p>  MBPRU & Partners memiliki komitmen terhadap etika bisnis dengan standar yang tinggi terhadap klien. </p>
                      </div>
                      <!-- .entry-content -->
                      <div class="entry-footer">
                      </div>
                    </article>
                    <!-- .blog-post -->
                  </div>
                  <div class="column is-4" data-aos="fade">
                    <article class="blog-post">
                      <figure class="post-image">
                        <a>
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/blog/2.png"> </a>
                      </figure>
                      <div class="entry-header">
                        <h2 class="entry-title">
                          <a>Layanan Konsultasi</a>
                        </h2>
                      </div>
                      <!-- .entry-header -->
                      <div class="entry-content">
                        <p> MBPRU & Partners memiliki Layanan konsultasi terhadap bidang Properti, Aset dan Agrikultur lainnya.</p>
                      </div>
                      <!-- .entry-content -->
                      <div class="entry-footer">
                      </div>
                    </article>
                    <!-- .blog-post -->
                  </div>
                  <div class="column is-4" data-aos="fade">
                    <article class="blog-post">
                      <figure class="post-image">
                        <a><img alt="Joo - Niche Multi-Purpose HTML Template" src="images/blog/3.png"> </a>
                      </figure>
                      <div class="entry-header">
                        <h2 class="entry-title">
                          <a>Analisa properti dan aset</a>
                        </h2>
                      </div>
                      <!-- .entry-header -->
                      <div class="entry-content">
                        <p> MBPRU & Partners memiliki layanan analisa suatu properti dan aset, dengan etika kerja yang tinggi dapat menghasilkan hasil yang berkualitas.</p>
                      </div>
                      <!-- .entry-content -->
                      <div class="entry-footer">
                      </div>
                    </article>
                    <!-- .blog-post -->
                  </div>
                </div>
                <br> </div>
            </section>
            <section id="tracking" class="section tracking-section is-clearfix">
              <div class="container">
                <p class="heading-title-top has-text-centered">Newsletter</p>
                <h1 class="heading-title style-3">submit your email</h1>
                <div class="columns is-mobile is-centered">
                  <div class="column is-10" data-aos="fade-up">
                    <div class="subscribe-form style-1">
                      <form>
                        <div class="field has-addons has-addons-centered is-grouped">
                          <div class="control">
                            <input class="input" type="text" placeholder="Type your tracking number"> </div>
                          <div class="control">
                            <a href="#" class="button">
                              <span>Submit</span>
                              
                            </a>
                          </div>
                        </div>
                      </form>
                    </div>
                   
                  </div>
                </div>
              </div>
            </section>
            <section id="services" class="section services-section has-background-primary-light is-clearfix">
              <div class="container">
                <div class="columns is-variable is-multiline is-4">
                  <div class="column is-5-desktop is-12-tablet">
                    <p class="heading-title-top">Layanan MBPRU</p>
                    <h1 class="heading-title style-3 has-text-left">our special services</h1>
                  </div>
                  <div class="column is-7-desktop is-12-tablet">
                    <p class="heading-title-bottom">Berikut adalah layanan khusus kami: </p>
                  </div>
                </div>
                <br>
                <div class="columns is-variable is-4 is-multiline boxes-style-2">
                  <div class="column is-4" data-aos="fade">
                    <div class="box-item">
                      <a href="./pages/services.html">
                        <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/icons/4.png"> </a>
                      <h3>
                        <a href="./pages/services.html">Penilaian</a>
                      </h3>
                      <p>Evaluasi dan analisis berbagai aspek yang berkaitan dengan publik.</p>
                    </div>
                    <!-- .box-item -->
                  </div>
                  <div class="column is-4" data-aos="fade">
                    <div class="box-item">
                      <a href="./pages/services.html">
                        <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/icons/3.png"> </a>
                      <h3>
                        <a href="./pages/services.html">Konsultasi Pengembangan Properti</a>
                      </h3>
                      <p>Konsultasi Pengembangan Properti untuk Aset dan Properti Anda.</p>
                    </div>
                    <!-- .box-item -->
                  </div>
                  <div class="column is-4" data-aos="fade">
                    <div class="box-item">
                      <a href="./pages/services.html">
                        <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/icons/1.png"> </a>
                      <h3>
                        <a href="./pages/services.html">Pengawasan Proyek</a>
                      </h3>
                      <p>Layanan Pengawasan Proyek untuk proyek hingga Proyek berskala besar.</p>
                    </div>
                    <!-- .box-item -->
                  </div>
                  <div class="column is-4" data-aos="fade">
                    <div class="box-item">
                      <a href="./pages/services.html">
                        <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/icons/3.png"> </a>
                      <h3>
                        <a href="./pages/services.html">Konsultasi Manajemen Aset</a>
                      </h3>
                      <p>Layanan Konsultasi Manajemen Aset untuk Properti Anda.</p>
                    </div>
                    <!-- .box-item -->
                  </div>
                  <div class="column is-4" data-aos="fade">
                    <div class="box-item">
                      <a href="./pages/services.html">
                        <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/icons/4.png"> </a>
                      <h3>
                        <a href="./pages/services.html">Konsultasi Pemasaran Properti</a>
                      </h3>
                      <p>Layanan Konsultasi Pemasaran pada Properti.</p>
                    </div>
                    <!-- .box-item -->
                  </div>
                  <div class="column is-4" data-aos="fade">
                    <div class="box-item">
                      <a href="./pages/services.html">
                        <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/icons/2.png"> </a>
                      <h3>
                        <a href="./pages/services.html">Riset Pasar</a>
                      </h3>
                      <p>Riset Pasar Properti dan aset.</p>
                    </div>
                    <!-- .box-item -->
                  </div>
                    
                <div class="column is-4" data-aos="fade">
                    <!-- .box-item -->

                
                </div>
              </div>
            </section>
            <section class="section watch-video is-clearfix">
              <div class="container">
                <br>
                <br>
                <div class="columns is-variable is-8 is-multiline">
                  <div class="column is-6-desktop is-12-tablet has-text-centered" data-aos="fade-up">
                    <div class="works-latest">
                      <div class="works-latest-item">
                        <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/global/introduction.png">
                        <div class="works-latest-item-icon style-2">
                          <a href="https://www.youtube.com/watch?v=JL8MCvfONWk" class="mfp-lightbox mfp-iframe">
                            <span class="icon ripple-effect">
                              <i class="ion-ios-play"></i>
                            </span>
                          </a>
                        </div>
                        <!-- .works-latest-icon -->
                      </div>
                      <!-- .works-latest-item -->
                    </div>
                  </div>
                  <div class="column is-6-desktop is-12-tablet" data-aos="fade">
                    <br>
                    <h1 class="heading-title style-3 has-text-left"> Let's see our video profile
                      <br> 
                      <span class="has-text-primary">MBPRU Solution</span>
                    </h1>
                    <p>Dalam memberikan pelayanannya, MBPRU & Partners memiliki komitmen terhadap etika bisnis dengan standar yang tinggi terhadap klien, rekan kerja, pemasok, dan lingkungan tempat kami bekerja. </p>
                        <p>Kami selalu berusaha keras untuk menjaga integritas, kejujuran, dan perilaku yang baik.</p>
                   
                    <br>
                    <div class="level">
                      <div class="level-left">
                        <h4>Ichsan Mudakir,S.T
                          <br>
                          <span>Kepala Cabang Bandung</span>
                        </h4>
                      </div>
                      <div class="level-right">
                        <img alt="Company Profile KJPP MBPRU dan Rekan" src="images/global/mark.png"> </div>
                    </div>
                  </div>
                </div>
                <br> </div>
            </section>
            <section class="hero fun-facts is-clearfix">
              <div class="hero-body">
                <h2 class="display-none">funfacts</h2>
                <nav class="level counterup style-5">
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="title counter">6</p>
                      <p class="heading">years of experience</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="title counter">14</p>
                      <p class="heading">professionals</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="title counter">70</p>
                      <p class="heading">Partner</p>
                    </div>
                  </div>
                  <div class="level-item has-text-centered">
                    <div>
                      <p class="title counter">40</p>
                      <p class="heading">Licenses</p>
                    </div>
                  </div>
                </nav>
              </div>
            </section>
          </div>
          <!-- #content-area-inner -->
        </div>
        <!-- #content-area -->
      </div>
      <!-- #content-main-wrap -->
      <div id="footer-top-wrap" class="is-clearfix">
        <div id="footer-top" class="site-footer-top">
          <div id="footer-top-inner" class="site-footer-top-inner ">
            <section class="hero clients-section is-clearfix">
              <div class="container">
                <div class="columns is-variable is-4 is-multiline">
                  <div class="column is-2-desktop is-12-tablet">
                    <h1 class="heading-title style-3 has-text-left">our partners</h1>
                  </div>
                  <div class="column is-10-desktop is-12-tablet">
                    <nav class="clients-list level  owl-carousel no-dots carousel-items-5">
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/clients/7.png" class="x"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/clients/8.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/clients/9.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/clients/10.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/clients/11.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/clients/12.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="images/clients/13.png"> </a>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- #footer-top-inner -->
        </div>
        <!-- #footer-top -->
      </div>
      <!-- #footer-top-wrap -->
      <div id="footer-wrap" class="is-clearfix">
        <!-- #footer -->
      </div>
      <!-- #footer-wrap -->
      <div id="footer-bottom-wrap" class="is-clearfix">
        <div id="footer-bottom" class="site-footer-bottom">
          <div id="footer-bottom-inner" class="site-footer-bottom-inner ">
            <section class="section footer-bottom-content">
              <div class="container">
                <h2 class="display-none">footer</h2>
                <div class="level">
                  <div class="level-left">
                    <span class="footer-copyright">
                      <a href=''></a> © 
                      <span class='current-year'></span> MBPRU. All Rights Reserved. </span>
                  </div>
                  <!-- .level-left -->
                  <div class="level-right">
                    <div class="nav-wrap">
                      <nav class="main-navigation right">
                        <ul class="menu">
                          <li>
                          <a href="/profile">profile</a>                          </li>
                          <li>
                          <a href="/service">product & service</a>                          </li>
                          <li>
                          <a href="/value">corporate value</a>                          </li>
                          <li>
                          <a href="/portfolio">portfolio</a>                          </li>
                            <li>
                          <a href="/contact">contact</a>                          </li>
                        </ul>
                      </nav>
                      <!-- #site-navigation -->
                    </div>
                    <!-- #nav-wrap -->
                  </div>
                  <!-- .level-right -->
                </div>
                <!-- .level -->
              </div>
            </section>
            <!-- .footer-bottom-content -->
          </div>
          <!-- #footer-bottom-inner -->
        </div>
        <!-- #footer-bottom -->
      </div>
      <!-- #footer-bottom-wrap -->
      <!-- show floating buttons -->
     
    <!-- #site-wrap -->

<script data-cfasync="false" src="cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/vendor.min.js?v=1557446391092"></script>
<script src="../public/assets/5f89d4ad/yii.js"></script>
<script src="../public/js/scripts.min.js?v=1557446391092"></script>
<script src="../public/js/custom.js?v=1557446391092"></script>
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
<script src="../public/js/myscript.js"></script></body>
</html>
