<!DOCTYPE html>
<html lang="id-ID">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Joo Template">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="../public/images/favicons/favicon.ico">

    <link rel="apple-touch-icon" sizes="57x57" href="../public/images/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../public/images/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../public/images/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../public/images/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../public/images/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../public/images/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../public/images/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../public/images/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../public/images/favicons/apple-touch-icon-180x180.png">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="../gtag/js?id=UA-162771321-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-162771321-3');
    </script>

        <title>KJPP MBPRU Bandung</title>
    <meta name="csrf-param" content="_csrf-frontend">
<meta name="csrf-token" content="_eR5DkNDPZfJeG9tNO1GUgw8zM_oeRbQZWaYwQvRThWNggl7FRpp8qM_Pxlm2AVka130jKkgZ4ZIDu6WfLYqRw==">

<link href="../public/assets/51348c53/css/bootstrap.css" rel="stylesheet">
<link href="../public/css/vendor.min.css?v=1557446391092" rel="stylesheet">
<link href="../public/css/styles.css" rel="stylesheet">
<link href="../public/css/custom.css?v=1557446391092" rel="stylesheet">
<link href="../public/css-1?family=Poppins:300,400,500,600&amp;v=1557446305971" rel="stylesheet">
<link href="../public/css/mystyle.css" rel="stylesheet"></head>
<body class="active-pageloader corporate logistics header-sticky hide-on-scroll header-menu-with-icons header-transparent header-menu-border-bottom header-topbar topbar-background dark-color footer-widgets footer-background dark-color submenu-show-arrow-right menu-is-capitalized submenu-is-capitalized logo-text-is-capitalized page-index">

<div class="pageloader is-active"></div>
    <div id="site-wrap" class="site">
      <div id="header-top-wrap" class="is-clearfix">
        <div id="header-top" class="site-header-top">
          <div id="header-top-inner" class="site-header-top-inner container">
            <div class="level">
              <div class="level-left">
                <ul class="topbar-info ">
                  <li>
                      <span class="icon">
                        <i class="icon-clock"></i>
                      </span> Mon - Fri : 09:00 - 17:00
                  </li>
                  <li>
                    <a href="../public/cdn-cgi/l/email-protection.html#2a43444c456a4945475a4b445304494547">
                      <span class="icon">
                        <i class="icon-envelope"></i>
                      </span> <span class="__cf_email__" data-cfemail="157877656760557e7f65653878776567603b767a78">[email&#160;protected]</span> </a>
                  </li>
                  <li>
                    <a href="tel:+66396847263">
                      <span class="icon">
                        <i class="icon-phone"></i>
                      </span> +62 21 7918 4336 
                      <!-- <span class="icon">
                        <i class="icon-fax"></i>
                      </span> +62 21 7918 4336  -->
                    </a>
                  </li>
                </ul>
              </div>
              <!-- .level-left -->
              <!-- <div class="level-right">
                <ul class="header-menu-icons social">
                  <li>
                    <a href="#" target="_blank">
                      <span class="icon">
                        <i class="fab fa-facebook-f"></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <span class="icon">
                        <i class="fab fa-twitter"></i>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="#" target="_blank">
                      <span class="icon">
                        <i class="fab fa-linkedin-in"></i>
                      </span>
                    </a>
                  </li>
                </ul> -->
                <!-- .header-menu-icons -->
                <!-- <ul class="nav-menu-dropdown style-2 global-style on-click">
                  <li>
                    <a href="javascript:void(0);">
                      <span class="icon">
                        <i class="icon-globe"></i>
                      </span>global</a>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">Africa</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">europe</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">America</a>
                      </li>
                    </ul>
                  </li>
                </ul> -->
                <!-- .header-menu-icons -->
                <!-- <ul class="nav-menu-dropdown style-2 on-click">
                  <li>
                    <a href="javascript:void(0);">
                      <span class="flag-icon flag-icon-gb"></span>En</a>
                    <ul>
                      <li>
                        <a href="javascript:void(0);">
                          <span class="flag-icon flag-icon-es"></span>Es</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <span class="flag-icon flag-icon-tr"></span>tr</a>
                      </li>
                      <li>
                        <a href="javascript:void(0);">
                          <span class="flag-icon flag-icon-eg"></span>ع</a>
                      </li>
                    </ul>
                  </li>
                </ul> -->
                <!-- .header-menu-icons -->
              </div>
              <!-- .level-right -->
            </div>
            <!-- .level -->
          </div>
          <!-- #header-top-inner -->
        </div>
        <!-- #header-top -->
      </div>
      <!-- #header-top-wrap -->
      <div id="header-wrap" class="is-clearfix">
        <header id="header" class="site-header">
          <div id="header-inner" class="site-header-inner container">
            <div class="level">
              <div class="level-left">
                <div id="header-logo" class="site-logo ">
                  <div id="logo-inner" class="site-logo-inner">
                    <a href="/">
                      <img alt="MBPRU" src="../images/logo/logo_mbpru.png">
                      
                    </a>
                  </div>
                  <!-- #logo-inner -->
                </div>
                <!-- #header-logo -->
              </div>
              <!-- .level-left -->
              <div class="level-right">
                <div class="nav-wrap">
                  <nav class="main-navigation right">
                  <ul id="sidebarnav"><li class="mega-menu niche-templates active"><a href="/" class="sidebar-link waves-effect waves-dark">Home</a></li>
<li><a href="/profile" class="sidebar-link waves-effect waves-dark">Profile</a></li>
<li class="selected"><a href="/service" class="sidebar-link waves-effect waves-dark">Product & Service</a></li>
<li><a href="/value" class="sidebar-link waves-effect waves-dark">Corporate Value</a></li>
<li><a href="/portfolio" class="sidebar-link waves-effect waves-dark">Portofolio</a></li>
<li><a href="/gallery" class="sidebar-link waves-effect waves-dark">Gallery</a></li>
<li><a href="/contact" class="sidebar-link waves-effect waves-dark">Contact</a></li></ul>                  </nav>
                  <!-- #site-navigation -->
                </div>
                <!-- #nav-wrap -->
                <!-- .header-menu-icons -->
                <!-- <a href="/admin" class="button is-white active">LOGIN</a>
                <div class="modal search-form-overlay">
                  <div class="modal-background"></div>
                  <div class="modal-content">
                    <form class="widget-form">
                      <div class="field">
                        <div class="control is-expanded">
                          <input class="input" type="text" placeholder="Search...">
                          <button type="submit" class="button">
                            <span class="icon">
                              <i class="icon-magnifier"></i>
                            </span>
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <button class="modal-close is-large" aria-label="close"></button>
                </div> -->
                <!-- .modal.search-form-overlay -->
              </div>
              <!-- .level-right -->
            </div>
            <!-- .level -->
          </div>
          <!-- #header-inner -->
        </header>
        <!-- #header -->
      </div>
      <!-- #header-wrap -->
     
      <!-- #header-bottom-wrap -->
      <!-- import content layouts and modules -->
      <div id="content-main-wrap" class="is-clearfix">
    <div id="content-area" class="site-content-area">
        <div id="content-area-inner" class="site-content-area-inner">
            <section class="section  is-clearfix">
                <div class="container">
                    <div class="column is-12">
                        <div class="tabs-list  columns is-variable is-5">
                            <div class="tabs is-toggle tabs-vertical column is-3">
                                <ul>
                                    <li class="is-active">
                                        <a>
                                            <span>Penilaian</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                        <span>Property Development <br>Consultancy</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                        
                                        <span>Pengawasan Proyek</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                        <span>Konsultansi Manajemen <br>Aset</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>Konsultansi Pemasaran<br> Properti</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                        <span>Riset Pasar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>Teknologi Informasi</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <span>Konsultansi Agrobisnis </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- .tabs -->
                            <div class="tabs-content column">
                                <div class="tab-block content">
                                    <h2>Penilaian</h2>
                                    <p>Jasa penilaian (valuation) secara umum memberikan jasa dalam menentukan nilai pasar (market  value) dari suatu aset, baik aset berupa aktiva berwujud maupun gabungan antara aktiva berwujud dan tak berwujud. Dalam pekerjaan penilaian, para partner dan tenaga ahli memiliki keahlian dan telah berpengalaman dalam melaksanakan pekerjaan penilaian, meliputi :</p>
                                            <li> Penilaian properti (tanah dan bangunan)</li>
                                            <li> Penilaian mesin dan peralatan (plant & machinery) </li>
                                            <li> Penilaian perkebunan </li>
                                            <li> Penilaian pertambangan </li>
                                            <li> Penilaian bisnis dan saham (business & share valuation) </li>
                                        </ul><br>
                                    <p>Penilaian ini dilakukan dengan berbagai macam tujuan seperti keuangan, debt bad/non performing loan, investasi, hipotik agunan, sewa menyewa, pengembangan usaha, investasi, penyelesaian perselisihan serta jual beli.</p>
                                </div>
                                <!-- .tab-block -->
                                <div class="tab-block content">
                                    <h2>Property Development Consultancy</h2>
                                    <p>Dengan pengalaman yang dimiliki oleh para tenaga ahlinya sebagai konsultan pengembangan di Indonesia, jasa yang ditawarkan adalah sebagai berikut :</p>
                                        <ul class="list no-margin no-style list-arrow-right style-1">
                                            <li> Feasibility Study<br>
                                                <p>Adalah suatu jasa layanan yang memberikan rekomendasi yang profesional di dalam suatu rencana pengembangan yang mencakup analisa lahan, analisa makro ekonomi, analisa hukum, analisa sosial dan lingkungan, analisa teknis, analisa pasar dan analisa keuangan.</p></li>
                                            <li> Highest & Best Use Study<br>
                                                <p>Yaitu suatu studi yang akan memberikan solusi yang terbaik dan paling menguntungkan dari berbagai alternatif rencana pengembangan pada suatu lahan yang mencakup analisa lahan, analisa makro ekonomi, analisa hukum, analisa sosial dan lingkungan, analisa teknis, analisa pasar dan analisa keuangan.</p>
                                            </li>
                                            <li> Financial Advisory
                                                <p>Adalah suatu jasa layanan yang memberikan saran yang berkaitan dengan permasalahan keuangan suatu usaha. Jasa yang terintegrasi ini dapat dibagi ke dalam 3 fase, yaitu: </p>
                                            </li>
                                                        
                                        </ul>
                                                <br>
                                        <ul class="list no-margin no-style list-radio-button-on is-primary">
                                            <li> Fase I : Due Diligence<br>Melakukan due diligence atau penelitian yang mendalam terhadap suatu usaha yang mencakup review atas laporan keuangan termasuk review atas pemanfaatan dana Review atas neraca keuangan perusahaan termasuk hal-hal penting yang berkaitan dengan aset, liabilitas dan sumber pendapatan.</li>
                                            <li> Fase II : Restrukturisasi Hutang<br>
                                            Melakukan evaluasi bisnis dan analisa kemampuan dan komitmen perusahaan di dalam mengambalikan hutangnya, melakukan review dan test terhadap proyeksi keuangan, melakukan investigasi dan pelaporan strategi yang tepat bagi kreditur dalam upaya memaksimalkan penyelamatan kredit.</li>
                                            <li> Fase III : Kontrol dan Pengawasan<br> 
                                            Melakukan pengawasan dari implementasi restrukturisasi yang telah disepakati oleh kedua pihak. Memastikan bahwa uang yang didepositokan dan dicairkan digunakan sesuai dengan rencana. Memberikan laporan rutin sesuai dengan yang diinginkan oleh kreditur.</li>
                                        
                                        </ul>     
                                </div>
                                <!-- .tab-block -->
                                <div class="tab-block content">
                                    <h2>Pengawasan Proyek</h2>
                                    <p>KJPP MBPRU & Rekan menyediakan jasa layanan dalam melakukan pengawasan proyek mencakup pengawasan pinjaman (loan monitoring) dan pengawasan teknis (engineering supervision)</p>
                                    <p>Loan monitoring, jasa khusus yang akan memberikan manfaat yang sangat berharga dalam dunia perbankan dan investasi. Berfungsi sebagai pengawas untuk klien, kami akan memastikan pencairan dana atau pinjaman akan didasarkan pada tahapan proyek yang telah diselesaikan sesuai dengan standar yang direncanakan.</p>
                                </div>
                                <!-- .tab-block -->
                                <div class="tab-block content">
                                    <h2>Konsultansi Manajemen Aset</h2>
                                    <p>KJPP MBPRU & Rekan menyediakan layanan dalam konsultansi manajemen aset. Manajemen aset meliputi segala aspek mulai dari inventarisasi, identifikasi dan penilaian dari aspek ekonomis maupun legal, analisa optimalisasi pemanfaatan asset sampai dengan perencanaan pengelolaan asset dan penyusunan sistem informasi manajemen aset.</p>
                                </div>
                                <div class="tab-block content">
                                    <h2>Konsultansi Pemasaran Properti</h2>
                                    <p>Konsultansi ini akan memberikan saran kepada pemilik property mengenai cara-cara untuk memperkuat strategi pemasaran sesuai yang direncanakan untuk properti komersial, retail, industri, dan perumahan.</p>
                                    <p>Corporate Real Estate Consultancy, dalam memahami dan mengantisipasi kebutuhan bisnis untuk efisiensi dan optimalisasi pemanfaatan aset KJPP MBPRU & Rekan menawarkan jasa ini. Melalui manajemen yang terfokus, jasa ini akan mengurangi berbagai biaya, memaksimalkan pemanfaatan ruang, meningkatkan kondisi kerja dan modal bagi investasi di dalam bisnis intinya. Jasa ini merupakan kombinasi pemahaman akan bisnis dan masalah properti. Jasa ini mencakup relokasi, merger, akuisisi, audit portfolio properti, dan modeling keuangan.</p>
                                </div>
                                <div class="tab-block content">
                                    <h2>Riset Pasar</h2>
                                    <p>KJPP MBPRU & Rekan memberikan layanan ini mencakup survey pasar untuk mengidentifikasi trend pasar untuk segala jenis properti, analisa permintaan dan pasokan, analisa harga, analisa sewa, proyeksi yield, analisa performa per sektor properti, untuk tujuan investasi, analisa portofolio properti untuk identifikasi aset yang idle dan memaksimalkan pendapatan dari kepemilikan properti.</p>
                                </div>
                                <div class="tab-block content">
                                    <h2>Teknologi Informasi</h2>
                                    <p>Informasi yang cepat dan tepat pada sasaran sangat diperlukan di dalam pengambilan keputusan yang efektif. Untuk memenuhi keinginan klien di dalam sektor informasi, KJPP MBPRU juga menawarkan tim IT yang berpengalaman dan didukung oleh teknologi yang terkini. Dengan mengkombinasikan pengalaman dalam bidang properti dan penerapan  teknologi informasi kami telah membuat suatu sistem piranti lunak yang didesain khusus untuk menjalankan pengelolaan aset secara efektif. Produk yang telah kami bangun berupa Sistem Informasi Manajemen Barang Daerah (SIMBADA) yang telah digunakan oleh beberapa pemerintah kabupaten dan pemerintah kota di Indonesia.Selain itu kami juga dapat membangun sistem informasi manajemen sesuai dengan kebutuhan klien.</p>
                                </div>
                                <div class="tab-block content">
                                    <h2> Konsultansi Agrobisnis </h2>
                                    <p>KJPP MBPRU & Rekan menyediakan berbagai macam jasa layanan konsultansi dalam industri agrobisnis (kelapa sawit, kelapa, coklat, karet dan lain-lain), termasuk di dalamnya penilaian, studi kelayakan, pengawasan pembangunan perkebunan dan pabrik pengolahan hasil agrobisnis, sensus tanaman, analisis potensi produksi, dan manajemen proyek. Kami melakukan analisis dan memberikan opini yang profesional dan independen dalam kaitannya dengan investasi, jual beli, laporan keuangan, pendanaan, restrukturisasi usaha atau hutang. Sensus tanaman berguna dalam rangka memprediksi produksi kebun dan penyusunan anggaran biaya pemeliharaan tanaman. Sedangkan analisis potensi produksi dibutuhkan dalam memproyeksi pendapatan kebun di masa mendatang.</p>
                                </div>
                            </div>
                            <!-- .tabs-content -->
                        </div>
                            <!-- .tabs-list -->
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>      <!-- #content-main-wrap -->
      <div id="footer-top-wrap" class="is-clearfix">
        <div id="footer-top" class="site-footer-top">
          <div id="footer-top-inner" class="site-footer-top-inner ">
            <section class="hero clients-section is-clearfix">
              <div class="container">
                <div class="columns is-variable is-4 is-multiline">
                  <div class="column is-2-desktop is-12-tablet">
                    <h1 class="heading-title style-3 has-text-left">our partners</h1>
                  </div>
                  <div class="column is-10-desktop is-12-tablet">
                    <nav class="clients-list level  owl-carousel no-dots carousel-items-5">
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/7.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/8.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/9.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/7.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/8.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/9.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/7.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/8.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/9.png"> </a>
                      </div>
                      <div class="client-item has-text-centered level-item">
                        <a href="#" target="_blank">
                          <img alt="Joo - Niche Multi-Purpose HTML Template" src="../images/clients/7.png"> </a>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <!-- #footer-top-inner -->
        </div>
        <!-- #footer-top -->
      </div>
      <!-- #footer-top-wrap -->
      <div id="footer-wrap" class="is-clearfix">
        <!-- #footer -->
      </div>
      <!-- #footer-wrap -->
      <div id="footer-bottom-wrap" class="is-clearfix">
        <div id="footer-bottom" class="site-footer-bottom">
          <div id="footer-bottom-inner" class="site-footer-bottom-inner ">
            <section class="section footer-bottom-content">
              <div class="container">
                <h2 class="display-none">footer</h2>
                <div class="level">
                  <div class="level-left">
                    <span class="footer-copyright">
                      <a href='../index.htm'></a> © 
                      <span class='current-year'></span> MBPRU. All Rights Reserved. </span>
                  </div>
                  <!-- .level-left -->
                  <div class="level-right">
                    <div class="nav-wrap">
                      <nav class="main-navigation right">
                        <ul class="menu">
                          <li>
                          <a href="/profile">profile</a>                          </li>
                          <li>
                          <a href="/service">product & service</a>                          </li>
                          <li>
                          <a href="/value">corporate value</a>                          </li>
                          <li>
                          <a href="/portfolio">portfolio</a>                          </li>
                            <li>
                          <a href="/contact">contact</a>                          </li>
                        </ul>
                      </nav>
                      <!-- #site-navigation -->
                    </div>
                    <!-- #nav-wrap -->
                  </div>
                  <!-- .level-right -->
                </div>
                <!-- .level -->
              </div>
            </section>
            <!-- .footer-bottom-content -->
          </div>
          <!-- #footer-bottom-inner -->
        </div>
        <!-- #footer-bottom -->
      </div>
      <!-- #footer-bottom-wrap -->
      <!-- show floating buttons -->
     
    <!-- #site-wrap -->

<script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="../js/vendor.min.js?v=1557446391092"></script>
<script src="../public/assets/5f89d4ad/yii.js"></script>
<script src="../public/js/scripts.min.js?v=1557446391092"></script>
<script src="../public/js/custom.js?v=1557446391092"></script>
<script src="../public/js/bootstrap/bootstrap.min.js"></script>
<script src="../public/js/myscript.js"></script></body>
</html>
