.page-title .hero-body {
    padding-bottom: 5.5rem;
    margin-top: 200px;
    padding-top: 5.5rem;
}

.is-multiline .card {
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0;
    height: 100%;
}